@import "./libs/reset";
@import "./libs/mixins";
@import "./variables";

body {
	padding: 85px 10px;
	background: var(--bg-second);
	font-family: 'Inter', system-ui;
	font-size: 16px;
	color: var(--fc-primary);
}

.wrapper {
	max-width: 1100px;
	margin: 0 auto;
	background: var(--bg-primary);
	border-radius: var(--brs-primary);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
}

.main {
	padding: 45px;
}

.content {
	display: grid;
	gap: 30px 0;
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.search {
	display: flex;
	align-items: center;
	gap: 0 15px;
	padding: 14px;
	border-radius: var(--brs-third);
	border: var(--border);
	box-sizing: border-box;
	cursor: text;
	&__input {
		border: 0;
		outline: 0;
		font-family: inherit;
		font-size: 14px;
		&::placeholder {
			color: var(--fc-third);
		}
	}
	&__icon {
		fill: none;
		stroke: var(--stroke);
	}
}

.title {
	font-size: 32px;
}

.catalog {
	display: grid;
	grid-template-columns: (repeat(auto-fit, 222.5px));
	gap: 40px;
}
