.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 5;
}

.drawer {
	display: flex;
	flex-direction: column;
	gap: 30px 0;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	max-width: 385px;
	height: 100%;
	padding: 30px;
	background: var(--bg-primary);
	box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
	&__header {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-size: 24px;
	}
	&__button {
		background: transparent;
		border: 0;
		padding: 5px;
		&:hover {
			.drawer__icon {
				stroke: var(--accent);
			}
		}
	}
	&__icon {
		stroke: var(--stroke);
		fill: none;
		transform: rotate(45deg);
		transition: stroke 0.1s ease-in-out;
	}
}

.cart {
	display: flex;
	flex-direction: column;
	gap: 20px;
	flex: 1;
	overflow: auto;
}

.total {
	display: grid;
	gap: 25px 0;
	&__info {
		display: grid;
		gap: 20px 0;
	}
	&__item {
		display: flex;
		gap: 0 8px;
	}
	&__price {
		font-weight: 600;
	}
	&__dashed {
		flex: 1;
		margin: 0 0 4px 0;
		border-bottom: 1px dashed var(--stroke);
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	min-width: 245px;
	padding: 18px;
	border-radius: var(--brs-second);
	border: 0;
	background: var(--accent);
	transition: background 0.1s ease-in-out;
	&:hover {
		background: lighten($color: #9DD458, $amount: 5%);
	}
	&:active {
		background: darken($color: #9DD458, $amount: 5%);
	}
	&:disabled {
		background: var(--overlay)
	}
	&__text {
		font-family: inherit;
		font-size: 16px;
		font-weight: 600;
		color: var(--fc-second);
	}
	&__icon {
		position: absolute;
		right: 30px;
		stroke: var(--fc-second);
		fill: none;
	}
}
