@import "../../styles/libs/mixins";

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 20px;
	gap: 20px;
	border-bottom: var(--border);
	@include media('min', 'width', 576) {
		padding: 35px;
	}
	@include media('min', 'width', 991) {
		padding: 45px;
	}
}

.logo {
	display: flex;
	align-items: center;
	&__img {
		margin: 0 15px 0 0;
	}
	&__title {
		font-size: 20px;
		text-transform: uppercase;
		color: var(--fc-primary);
	}
	&__caption {
		font-size: 14px;
		color: var(--fc-third);
	}
}

.nav {
	display: flex;
	align-items: center;
	flex: 100%;
	@include media('min', 'width', 480) {
		flex: unset;
	}
	&__list {
		display: flex;
		align-items: center;
		gap: 0 10px;
		@include media('min', 'width', 576) {
			gap: 0 30px;
		}
	}
	&__button {
		display: flex;
		align-items: center;
		border: 0;
		background: transparent;
		font-family: inherit;
		&:hover {
			.nav__icon_cart {
				stroke: var(--accent);
			}
			.nav__icon_heart {
				stroke: var(--like);
			}
		}
	}
	&__icon {
		display: flex;
		flex-shrink: 0;
		fill: none;
		stroke: var(--stroke);
	}
	&__cost {
		margin: 0 0 0 10px;
		font-size: 14px;
		font-weight: 600;
	}
}
